* {
  font-family: "Port Lligat Sans", sans-serif;
  /*font-weight: 400;*/
  font-style: normal;
  color: black;
  text-decoration: none;

  /* Lea's drei Must-Haves */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

h1 {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #fcecdf;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black, 0px 1px 0 black, 0px -1px 0 black, 1px 0px 0 black,
    -1px 0px 0 black;
  font-size: 8rem;
}

img {
  max-width: 100%;
  display: inline-block;
  height: auto;
  background-color: transparent !important;
}

body {
  background: #f99d90;
  font-size: 1.7rem;
}

.whole_grid {
  display: grid;
  grid-template-rows: 130px 100vh 100vh 100vh 130px; /* 5 Reihen */
  grid-template-areas:
    "nav"
    "header"
    "fortunecookies"
    "Calender"
    "footer";
  min-height: 100vh;
  max-width: 100%;
}

main {
  display: contents; /*macht das section direkte Kinder von grid und nicht main */
}

nav {
  border-bottom: 2px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin: 0;
  max-width: 100%;
}

.buttonnav {
  background-color: #f8f0eb;
  border: 2px solid #9f1c2e;
  border-radius: 30px; /* Runde Ecken */
  width: 17vw;
  max-width: 500px;
  height: 5vh;
  max-height: 300px;
  font-weight: bold;
  cursor: pointer;
  user-select: none; /* Verhindert Markieren/Kopieren */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease; /*Hover*/
}

.buttonnav:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.headerhomepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainlogo {
  margin-bottom: -100px;
  width: 80vw;
}

.getlucky {
  margin-top: -100px;
  width: 80%;
  height: 60%;
}

.bodystarterpage {
  background-color: #fbcb77;
}

.FortuneCookies {
  background-color: #9f1c2e;
  border-top: 2px solid #f8f0eb;
  border-bottom: 2px solid #f8f0eb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imgcookies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.imgcookies img {
  width: 30%;
}

#leftcookie,
#middlecookie,
#rightcookie {
  transition: transform 0.3s ease;
}

#leftcookie:hover,
#middlecookie:hover,
#rightcookie:hover {
  transform: scale(1.2);
}

/*

  .Calender { }
  
  */

footer {
  border-top: 2px solid #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50%;
  padding: 10px;
}

footer img {
  width: 10rem;
  height: 8rem;
}

nav,
footer {
  background-color: #eb7a6a;
}
